.item-fabrica .actions a {
    text-decoration: none;
    color: white;
}

.item-fabrica .actions button {
    margin-left: 5px; /* Espaciado entre los botones */
}

.item-fabrica .actions a:hover {
    text-decoration: underline; /* Subrayar enlaces al pasar el mouse */
}